body {
    user-select: none;
    background-color: rgb(114, 40, 0);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#Crafting-power {
    font-size: 25px;
    text-align: center;
    color: orange;
}

#Gain-Cp {
    font-size: 18px;
    text-align: center;
    color: orangered;
    border: 1px solid red;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 50px;
    margin-left: 690px;
    width: 150px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    cursor: pointer;
}

#Gain-Cp:hover {
    background-color: rgb(27, 27, 27);
}

#Materials-tab {
    width: 200px;
    height: 30px;
    padding-top: 10px;
    background-color: #787366;
    border: 1px solid white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 140px;
    margin-left: 20px;
}

#Materials-tab:hover {
    background-color: rgb(71, 70, 70);
    cursor: pointer;
}

#Crafting-tab {
    width: 200px;
    height: 30px;
    padding-top: 10px;
    background-color: rgb(224, 95, 3);
    border: 1px solid rgb(255, 0, 0);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 140px;
    margin-left: 230px;
}

#Crafting-tab:hover {
    background-color: rgb(255, 117, 11);
    cursor: pointer;
}

#Experience-tab {
    width: 200px;
    height: 30px;
    padding-top: 10px;
    background-color: rgb(8, 175, 8);
    border: 2px solid rgb(0, 72, 0);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 140px;
    margin-left: 440px;
}

#Experience-tab:hover {
    background-color: rgb(0, 109, 0);
    cursor: pointer;
}

.Materials-content {
    width: auto;
    height: 600px;
    margin-top: 150px;
    visibility: hidden;
}

.show {
    visibility: visible;
}

#Stone-content {
    width: 300px;
    height: 230px;
    margin-left: -4px;
    background-color: grey;
    text-align: center;
}

#Stone {
    font-size: 20px;
}

#Stone-img {
    width: 150px;
    height: 100px;
    margin-left: 38px;
}

#Stone-img:hover {
    animation: Stone-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Stone-animation {
    0% {
        scale: 1;
    }
    100% {
        margin-left: 38px;
        scale: 1.2;
    }
}

#Stone-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 8px;
    margin-top: 350px;
    border: 2px solid black;
    border-radius: 5px;
}

#Stone-up2 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 156px;
    margin-top: 350px;
    border: 2px solid black;
    border-radius: 5px;
}

#Wood {
    font-size: 20px;
}

#Wood-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 187px;
    margin-left: 310px;
    width: 300px;
    height: 230px;
    background-color: rgb(53, 21, 0);
    text-align: center;
}

#Wood-img {
    width: 130px;
    height: 140px;
    margin-left: 42px;
    margin-top: -5px;
}

#Wood-img:hover {
    animation: Wood-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Wood-animation {
    0% {
        scale: 1;
        margin-left: 42px;
        margin-top: -5px;
    }
    100% {
        scale: 1.2;
        margin-left: 38px;
    }
}

#Wood-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-top: 163px;
    border: 2px solid black;
    border-radius: 5px;
}

#Wood-up2 {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 145px;
    margin-top: 163px;
    border: 2px solid black;
    border-radius: 5px;
}

#Iron-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 187px;
    margin-left: 615px;
    width: 300px;
    height: 230px;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

#Iron {
    font-size: 20px;
}

#Iron-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-top: 163px;
    border: 2px solid black;
    border-radius: 5px;
}

#Iron-up2 {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 145px;
    margin-top: 163px;
    border: 2px solid black;
    border-radius: 5px;
}

#Ironore-img {
    width: 100px;
    height: 80px;
    margin-top: 25px;
}

#Ironore-img:hover {
    animation: Iron-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Iron-animation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

#Gold-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 187px;
    margin-left: 920px;
    width: 300px;
    height: 230px;
    background-color: rgb(182, 182, 11);
    text-align: center;
}

#Gold {
    font-size: 20px;
}

#Gold-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Gold-up2 {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 145px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Goldore-img {
    width: 100px;
    height: 80px;
    margin-top: 25px;
}

#Goldore-img:hover {
    animation: Gold-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Gold-animation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

#Diamond-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 187px;
    margin-left: 1225px;
    width: 300px;
    height: 230px;
    background-color: aqua;
    text-align: center;
}

#Diamond {
    font-size: 20px;
}

#Diamond-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Diamond-up2 {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 145px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Diamond-img {
    width: 170px;
    height: 150px;
    margin-left: 35px;
    margin-top: -10px;
}

#Diamond-img:hover {
    animation: Diamond-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Diamond-animation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

#Ruby-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 425px;
    margin-left: 4.5px;
    width: 300px;
    height: 230px;
    background-color: rgb(181, 0, 0);
    text-align: center;    
}

#Ruby {
    font-size: 20px;
}

#Ruby-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Ruby-up2 {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 145px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Ruby-img {
    width: 170px;
    height: 150px;
    margin-left: 35px;
    margin-top: -10px;
}

#Ruby-img:hover {
    animation: Ruby-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Ruby-animation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

#Emeralds-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 425px;
    margin-left: 310px;
    width: 300px;
    height: 230px;
    background-color: rgb(19, 191, 19);
    text-align: center;    
}

#Emerald {
    font-size: 20px;
}

#Emerald-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Emerald-up2 {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 145px;
    margin-top: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

#Emerald-img {
    width: 170px;
    height: 150px;
    margin-left: 35px;
    margin-top: -10px;
}

#Emerald-img:hover {
    animation: Emerald-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Emerald-animation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

#Titanium-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 425px;
    margin-left: 615px;
    width: 300px;
    height: 230px;
    background-color: rgb(83, 83, 83);
    text-align: center;    
}

#Titanium {
    font-size: 20px;
}

#Titanium-up1 {
    width: 140px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Titanium-up2 {
    width: 150px;
    height: auto;
    font-size: 13px;
    text-align: center;
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 145px;
    margin-top: 165px;
    border: 2px solid black;
    border-radius: 5px;
}

#Titanium-img {
    width: 120px;
    height: 110px;
    margin-left: 45px;
    margin-top: 5px;
}

#Titanium-img:hover {
    animation: Titanium-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes Titanium-animation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

.Crafting-content {
    width: auto;
    height: auto;
    visibility: hidden;
}

.show-Crafting-content {
    visibility: visible;
}

#Converting-content {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 190px;
    margin-left: 5px;
    background-color: rgb(50, 25, 5);
}

#Converting-name {
    text-align: center;
    font-size: 28px;
    color: white;
}

#Wood-to-Sticks {
    width: 440px;
    height: 70px;
    margin-left: 5px;
    margin-top: 23px;
    background-color: rgba(100, 65, 0, 0.76);
}

#Sticks-input {
    width: 23px;
    height: 15px;
    margin-top: 4px;
}

#Wood-img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 80px;
    margin-top: 48px;
    margin-left: 15px;
}

#Wood-to-Sticks-arrow {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    margin-top: 45px;
}

#Stick-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 50px;
    margin-left: 200px;
    margin-top: 65px;
}

#Convert-to-Sticks {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 17px;
    text-align: right;
    margin-left: 260px;    
    margin-top: 58px;
    width: 180px;
    height: 40px;
    background-color: grey;
    text-align: center;
}

#Convert-to-Sticks:hover {
    background-color: rgba(78, 78, 78, 0.675);
    cursor: pointer;
}

#Sticks {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    color: white;
    margin-left: 280px;
    margin-top: 102px;
}

#Stone-to-SmoothStone {
    width: 440px;
    height: 70px;
    margin-left: 5px;
    margin-top: 23px;
    background-color: rgba(100, 65, 0, 0.76);
}

#TurnOnSmoothStoneConverting {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    text-align: right;
    margin-left: 260px;    
    margin-top: 160px;
    width: 30px;
    height: 25px;
    background-color: grey;
    text-align: center;
}

#TurnOnSmoothStoneConverting:hover {
    background-color: rgb(74, 74, 74);
    cursor: pointer;
}

#TurnOffSmoothStoneConverting {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    text-align: right;
    margin-left: 390px;    
    margin-top: 160px;
    width: 30px;
    height: 25px;
    background-color: grey;
    text-align: center;
}

#TurnOffSmoothStoneConverting:hover {
    background-color: rgb(74, 74, 74);
    cursor: pointer;
}

#SmoothStone-timer {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 166px;
    margin-left: 322px;
}

#Convert-to-SmoothStone:hover {
    background-color: rgba(78, 78, 78, 0.675);
    cursor: pointer;
}

#SmoothStone {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    color: white;
    margin-left: 240px;
    margin-top: 197px;
}

#Stone-to-SmoothStone-arrow {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    margin-top: 155px;
    width: 80px;
    height: 70px;
}

#Stone-img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    margin-top: 138px;
    margin-left: 5px;
}

#SmoothStone-img {
    width: 70px;
    height: 70px;
    margin-left: 160px;
    margin-top: -5px;
}

#Iron-ore-to-Iron {
    width: 440px;
    height: 70px;
    margin-left: 5px;
    margin-top: 23px;
    background-color: rgba(100, 65, 0, 0.76);
}

#Iron-ore-img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 50px;
    margin-top: 255px;
    margin-left: 20px;
}

#Iron-img2 {
    width: 100px;
    height: 100px;
    margin-left: 150px;
    margin-top: -10px;
}

#Iron-ore-to-Iron-arrow {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    margin-top: 245px;
    width: 80px;
    height: 70px;
}

#TurnOnIronConverting {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    text-align: right;
    margin-left: 260px;    
    margin-top: 250px;
    width: 30px;
    height: 25px;
    background-color: grey;
    text-align: center;
}

#TurnOnIronConverting:hover {
    background-color: rgb(74, 74, 74);
    cursor: pointer;
}

#Iron-timer {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 256px;
    margin-left: 315px;
}

#TurnOffIronConverting {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    text-align: right;
    margin-left: 390px;    
    margin-top: 250px;
    width: 30px;
    height: 25px;
    background-color: grey;
    text-align: center;
}

#TurnOffIronConverting:hover {
    background-color: rgb(74, 74, 74);
    cursor: pointer;
}

#Iron2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    color: white;
    margin-left: 285px;
    margin-top: 287px;
}

#Gold-ore-to-Gold {
    width: 440px;
    height: 70px;
    margin-left: 5px;
    margin-top: 23px;
    background-color: rgba(100, 65, 0, 0.76);
}

#Gold-ore-img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 50px;
    margin-top: 345px;
    margin-left: 20px;
}

#Gold-ore-to-Gold-arrow {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    margin-top: 340px;
    width: 80px;
    height: 70px;
}

#Gold-img2 {
    width: 100px;
    height: 100px;
    margin-left: 150px;
    margin-top: -10px;
}

#TurnOnGoldConverting {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    text-align: right;
    margin-left: 260px;    
    margin-top: 345px;
    width: 30px;
    height: 25px;
    background-color: grey;
    text-align: center;
}

#TurnOnGoldConverting:hover {
    background-color: rgb(74, 74, 74);
    cursor: pointer;
}

#Gold-timer {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 350px;
    margin-left: 315px;
}

#TurnOffGoldConverting {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    text-align: right;
    margin-left: 390px;    
    margin-top: 345px;
    width: 30px;
    height: 25px;
    background-color: grey;
    text-align: center;
}

#TurnOffGoldConverting:hover {
    background-color: rgb(74, 74, 74);
    cursor: pointer;
}

#Gold2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    color: white;
    margin-left: 285px;
    margin-top: 382px;
}

#Craft-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 610px;
    height: 500px;
    background-color: ivory;
    margin-left: 460px;
    margin-top: 190px;
}

#Crafting-name {
    font-size: 30px;
    text-align: center;
}

#Craft1 {
    width: 200px;
    height: 95px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    margin-left: 2px;
    margin-top: 20px;
}

#Craft1:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Craft2 {
    width: 200px;
    height: 95px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 205.5px;
    margin-top: 55.5px;
}

#Craft2:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Craft3 {
    width: 600px;
    height: 75px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 330px;
}

#Craft3:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Craft4 {
    width: 200px;
    height: 95px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2px;
    margin-top: 190px;
}

#Craft4:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Craft5 {
    width: 200px;
    height: 95px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 205.5px;
    margin-top: 190px;
}

#Craft5:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Craft6 {
    width: 600px;
    height: 75px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 415px;
}

#Craft6:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Craft7 {
    width: 200px;
    height: 95px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 408px;
    margin-top: 55.5px;
}

#Craft7:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Craft8 {
    width: 200px;
    height: 95px;
    text-align: center;
    padding-top: 5px;
    background-color: #787366;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 408px;
    margin-top: 190px;
}

#Craft8:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

#Expirience-name {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 270px;
    margin-top: 10px;
    font-size: 20px;
    width: 150px;
    height: auto;
    color: limegreen;
}

#Gain-Exp {
    width: 200px;
    height: 50px;
    padding-top: 10px;
    position: absolute;
    border-radius: 10px;
    border: 2px solid lime;
    text-align: center;
    top: 0;
    left: 0;
    margin-left: 220px;
    margin-top: 50px;
    background-color: darkgreen;
}

#Gain-Exp:hover {
    background-color: rgb(0, 142, 0);
    cursor: pointer;
}

#Craft-knowledge {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1077px;
    margin-top: 190px;
    width: 450px;
    height: 500px;
    background-color: rgb(212, 60, 5);
    text-align: center;
}

#Crafting-knowledge {
    color: white;
    font-size: 23px;
}

#Craftingk-persec {
    color: rgb(255, 174, 0);
    font-size: 19px;
}

#Materials-to-Craftingk {
    width: 440px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    margin-left: 5px;
    color: white;
    background-color: #787366;
}

#Materials-to-Craftingk:hover {
    background-color: #43413b;
    cursor: pointer;
}

#Craftk-up1 {
    width: 440px;
    height: 60px;
    padding-top: 7px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #787366;
    margin-top: 140px;
    margin-left: 5px;
}

#Craftk-up1:hover {
    background-color: #43413b;
    cursor: pointer;
}

#Craftk-up2 {
    width: 440px;
    height: 95px;
    padding-top: 7px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #787366;
    margin-top: 230px;
    margin-left: 5px;
}

#Craftk-up2:hover {
    background-color: #43413b;
    cursor: pointer;
}

#Craftk-up3 {
    width: 440px;
    height: 80px;
    padding-top: 7px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #787366;
    margin-top: 360px;
    margin-left: 5px;
}

#Craftk-up3:hover {
    background-color: #43413b;
    cursor: pointer;
}

#Note {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 120px;
}

.Experience-content {
    visibility: hidden;
}

.show-Experience-content {
    visibility: visible;
}

#Ranking-tab {
    width: 150px;
    height: 23px;
    padding-top: 5px;
    background-color: rgb(85, 84, 84);
    border: 1.5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 200px;
    margin-left: 490px;
    text-align: center;
}

#Ranking-tab:hover {
    background-color: #494946;
    cursor: pointer;
}

.Ranking-content {
    text-align: center;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 260px;
    margin-left: 520px;
    visibility: hidden;
}

.show-Ranking-content {
    visibility: visible;
}

#Class {
    color: aquamarine;
    font-size: 23px;
}

#Class-benefits {
    color: rgb(0, 153, 208);
    font-size: 18px;
}

#Class-Upgrade {
    width: 400px;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 188, 0);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(62, 61, 61);
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 50px;
}

#Progression-milestone-tab {
    width: 220px;
    height: 23px;
    padding-top: 5px;
    background-color: maroon;
    border: 1px solid red;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 200px;
    margin-left: 660px;
}

#Progression-milestone-tab:hover {
    background-color: rgb(169, 0, 0);
    cursor: pointer;
}

.Progression-Milestones-content {
    visibility: hidden;
}

.show-Progression-Milestones-content {
    visibility: visible;
}

#Milestone1 {
    width: 400px;
    height: 115px;
    padding-top: 10px;
    background-color: rgb(5, 167, 167);
    border: 1px solid rgb(0, 106, 255);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 240px;
    margin-left: 120px;
}

#Milestone2 {
    width: 400px;
    height: 115px;
    padding-top: 10px;
    background-color: rgb(5, 167, 167);
    border: 1px solid rgb(0, 106, 255);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 240px;
    margin-left: 560px;
}

#Milestone3 {
    width: 400px;
    height: 110px;
    padding-top: 15px;
    background-color: rgb(5, 167, 167);
    border: 1px solid rgb(0, 106, 255);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 240px;
    margin-left: 1000px;
}

#Exploration-tab {
    width: 150px;
    height: 23px;
    padding-top: 5px;
    text-align: center;
    color: white;
    background-image: linear-gradient(90deg, rgb(0, 72, 255), black);
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 200px;
    margin-left: 900px;
}

#Exploration-tab:hover {
    cursor: pointer;
    animation-name: Exploration-tab-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes Exploration-tab-animation {
    0% {
        background-image: linear-gradient(90deg, rgb(0, 72, 255), black);
    }
    25% {
        background-iamge: linear-gradient(90deg, rgb(3, 63, 216), rgb(11, 11, 11));
    }
    50% {
        background-image: linear-gradient(90deg, rgb(2, 56, 192), rgb(30, 30, 30));
    }
    75% {
        background-image: linear-gradient(90deg, rgb(0, 46, 164), rgb(65, 65, 65));
    }
    100% {
        background-image: linear-gradient(90deg, black, rgb(0, 72, 255));
    }
}

.Exploration-content {
    visibility: hidden;
}

.show-Exploration-content {
    visibility: visible;
}

#Enemy {
    width: 300px;
    height: 200px;
    background-color: rgb(39, 39, 39);
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 300px;
    margin-top: 270px;
}

#Enemy-hp {
    width: 150px;
    height: 20px;
    padding-top: 3px;
    color: white;
    background-color: rgb(215, 2, 2);
    border: 1px solid maroon;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 75px;
    margin-top: 10px;
}

#Enemy-atk {
    width: 100px;
    height: 20px;
    padding-top: 3px;
    color: white;
    background-color: rgb(2, 2, 2);
    border: 1px solid white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    margin-bottom: 5px;
}

#Enemy-atks {
    width: 100px;
    height: 20px;
    padding-top: 3px;
    color: white;
    background-color: rgb(2, 2, 2);
    border: 1px solid white;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

#Start-the-lore {
    width: 50px;
    height: 36px;
    border-radius: 50%;
    padding-top: 14px;
    background-color: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 125px;
}

#Start-the-lore:hover {
    background-color: rgb(52, 52, 52);
    cursor: pointer;
}

#Lore {
    width: 290px;
    height: 70px;
    padding-top: 50px;
    background-color: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
    margin-left: 5px;
    opacity: 0;
}